@import 'normalize';
@import 'base/mixins';

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.btn-bracketed {
  &::before {
      display:inline-block;
      content: "[";
      padding-right: 0.5em;
  }
  &::after {
      display:inline-block;
      content: "]";
      padding-left: 0.5em;
  }
}

@media screen and (max-width: 767px) {
  .carousel-caption {
    display: none
  }
}
